<html><head><meta name="viewport" content="width=device-width, user-scalable=no" /><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /><style> __css__ </style></head><body><div id="p">play</div><canvas id="c"></canvas><script id="j">'use strict'; (() => { __js__ })()</script></body></html>